In [1]:
import pandas as pd

In [2]:
from mlxtend.frequent_patterns import apriori,association_rules

In [3]:
#!pip install mlxtend

In [4]:
df={'ID':[1,2,3,4,5,6,7,8,9,10],
     'item':[['jam','milk','bread'],
            ['jam','egg','bread','butter'],
            ['egg','milk','butter'],
            ['egg','milk'],
            ['milk','bread'],
            ['jam','egg','bread'],
            ['jam','egg','butter'],
            ['jam','bread'],
            ['bread','milk'],
            ['jam','egg']]}

In [5]:
df=pd.DataFrame(df)

In [6]:
df

   ID                       item
0   1         [jam, milk, bread]
1   2  [jam, egg, bread, butter]
2   3        [egg, milk, butter]
3   4                [egg, milk]
4   5              [milk, bread]
5   6          [jam, egg, bread]
6   7         [jam, egg, butter]
7   8               [jam, bread]
8   9              [bread, milk]
9  10                 [jam, egg]

In [7]:
apr=pd.get_dummies(df['item'].apply(pd.Series).stack(),prefix='item').sum(level=0)

C:\Users\aarza\AppData\Local\Temp\ipykernel_19632\3804562544.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  apr=pd.get_dummies(df['item'].apply(pd.Series).stack(),prefix='item').sum(level=0)

In [8]:
apr

   item_bread  item_butter  item_egg  item_jam  item_milk
0           1            0         0         1          1
1           1            1         1         1          0
2           0            1         1         0          1
3           0            0         1         0          1
4           1            0         0         0          1
5           1            0         1         1          0
6           0            1         1         1          0
7           1            0         0         1          0
8           1            0         0         0          1
9           0            0         1         1          0

In [33]:
frequent_itemsets=apriori(apr,min_support=0.2,use_colnames=True)

C:\Users\aarza\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [34]:
rules=association_rules(frequent_itemsets,metric='lift',min_threshold=1.0)

In [35]:
frequent_itemsets

    support                           itemsets
0       0.6                       (item_bread)
1       0.3                      (item_butter)
2       0.6                         (item_egg)
3       0.6                         (item_jam)
4       0.5                        (item_milk)
5       0.2             (item_egg, item_bread)
6       0.4             (item_jam, item_bread)
7       0.3            (item_milk, item_bread)
8       0.3            (item_egg, item_butter)
9       0.2            (item_jam, item_butter)
10      0.4               (item_egg, item_jam)
11      0.2              (item_egg, item_milk)
12      0.2   (item_egg, item_jam, item_bread)
13      0.2  (item_egg, item_jam, item_butter)

In [36]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(item_jam),(item_bread),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
1,(item_bread),(item_jam),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
2,(item_milk),(item_bread),0.5,0.6,0.3,0.600000,1.000000,0.00,1.00,0.000000
3,(item_bread),(item_milk),0.6,0.5,0.3,0.500000,1.000000,0.00,1.00,0.000000
4,(item_egg),(item_butter),0.6,0.3,0.3,0.500000,1.666667,0.12,1.40,1.000000
5,(item_butter),(item_egg),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,0.571429
6,(item_jam),(item_butter),0.6,0.3,0.2,0.333333,1.111111,0.02,1.05,0.250000
7,(item_butter),(item_jam),0.3,0.6,0.2,0.666667,1.111111,0.02,1.20,0.142857
8,(item_egg),(item_jam),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
9,(item_jam),(item_egg),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,0.250000
10,"(item_egg, item_bread)",(item_jam),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
11,(item_jam),"(item_egg, item_bread)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.20,1.000000
12,"(item_egg, item_jam)",(item_butter),0.4,0.3,0.2,0.500000,1.666667,0.08,1.40,0.666667
13,"(item_egg, item_butter)",(item_jam),0.3,0.6,0.2,0.666667,1.111111,0.02,1.20,0.142857
14,"(item_jam, item_butter)",(item_egg),0.2,0.6,0.2,1.000000,1.666667,0.08,inf,0.500000
15,(item_egg),"(item_jam, item_butter)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.20,1.000000
16,(item_jam),"(item_egg, item_butter)",0.6,0.3,0.2,0.333333,1.111111,0.02,1.05,0.250000
17,(item_butter),"(item_egg, item_jam)",0.3,0.4,0.2,0.666667,1.666667,0.08,1.80,0.571429

In [28]:
#Zhangs_metrics show association is there or not